*{
    margin: 0;
    padding: 0;
}
.menu{
    cursor: pointer;
}
.bar-1, .bar-2, .bar-3{
    height: 3.5px;
    width: 20px;
    background-color: black;
    margin: 3px;
    transition: 0.4s;
}
.change .bar-1{
    transform: translate(0, 6.5px) rotate(-45deg);
}
.change .bar-2{
    opacity: 0;
}
.change .bar-3{
    transform: translate(0, -6.5px) rotate(45deg);
}